*{
  margin:0;
  padding:0;
}
@font-face {
  font-family: "Brandon Grotesque";
	font-weight: 100;
	font-style: normal;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n1.woff2?Expires=1727560822&Signature=Mgxqe2pEAcpu4CsYdB24JE-YUV9pq5ntq8uhHL4fFijcw5Sx2onqP9n6PqDfvZwo5XtUBymEj8AmzlG0NyzrOpQheLVtvqaKxRHsp03N6XaHQ0WmoaihiALQp6MUHlrjRo3ddybUJRveUvfgnhInIUdGncuCqa7ZUUcxWCwRpYFmEMzM5U42ZFihfY0FVnZnCMsoVTP341GNPElK-jKgneBO5RiFH722haBFB3b6beZ-3SW6h7~mbHIhIQhUFaRUbyOyn720oTekvnLab-RLO0ee7gkpX~~D1u8AI91hALiFHxTj9oMiCx4z1YR-zsCHHkyDpdRJVvtGaCVHNHgc6w__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n1.woff?Expires=1727560822&Signature=PZpnTbhrHeCNq3A0EyTS6qPn3x5h1SzG3G-0bO1S1o4QsygXt3UYnzlK-CMpM2PdLWk~MyyoZA7qz6rrmCeb2j032tP8SFG5jQuwW8VzlhTlkr~R6Otmjik0WDu9CRGBwxRV103Q4iSlWxL39Z0CpMMJel7bmbt7by19BiWdXCcONQGYyNbqy1LxAQpprVCYF9oLRfYOmMjMW3YfTGTl~7fCU7oUl-TiEWV0v5sYVVn64nuvV9Jukvnm7Lk4ScESFfo7lJRfBcXSacGEDZglOW4atObJITCFmjI2~TY6Cs8UX-BSALgMTwk~cok~WmEuEdn2S9XP1kttV1CXcDy5jA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 100;
	font-style: italic;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i1.woff2?Expires=1727560822&Signature=GMgVO85Pwu9IauFzGn1Wek88SOWVcJV~azPsyIQq1UbRyVrLa3XxvAuR830YOENGut3xmn-XY3x7ynBUvuM2l5J-h7z2N~TsDs0wYH0NCsQDkhtN9kl9AsIq667rcmSJkY7DYVk~tYtJNMhydcHrGB8t9b36JR5VtbHjiAV-W9Uau1cnZXqe3skRQrkNLJdx3JqNTFKy5HptwvUg3tGauzT1MfOtoQL6uGmEDyhUOnTVY8OH4lmyT6iCwIrYAb25dwfQhZBusoiQK~YIlqS8Jhi39eEbIDUBep~sgYvOyAeViotEJfuMpcIrHYVJUlTX5bM~EuKwT6rv8CELWxdVog__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i1.woff?Expires=1727560823&Signature=m24LDvWagwk9riRzdC0JM-ByP2LlZaOXnKXaijIP7TrSzTxWPJww8NKigIsFY9UiFDgtP6hSk2OVIt5Ssxb6I1TuTyWlhaHbk6RXRiur4vrL3RLFA3gY1sS3KPOyI5zylUzEij66AYj8CMtukV8So4CxQota0e4pzdrSCkMpQEQ1lVuP7P41p8QTVtrnOPwMdtP8vqsIDQpFlwRN3MxZiWDJVlGm1HixDg--O5o7qobO9IRsWH16gGJaMN3yp0ycpuDkNKMFRBKziDzAAJOoH-T5v25A4yYjRFDlcEl5YIZoHi~IXIFjcT0SDdqTyQ1cBjJT4LdchZfE032pTLxRxA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 300;
	font-style: normal;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n3.woff2?Expires=1727560823&Signature=ErXVbQ4ruRfkPjouQm3QpkyzEEMXgAa5hTq0brm2aMRRke4R~AQzi3nzKBQ5geJckuw5fb6zG5CWtEJx05crGhiZ81ziJJlk00oBU~bt7Rk0DZkNSLe2-GSueAJldutnCXbUTQeXNIup6rcUvv6K120BiPUH0WP7M3eYm4tU8idQzbDmkMHr8dRYaB24ZKmihxCcCocYBgK76-5~DJCgeQJJjJ4EXjs1xvfTyGH0Mu89rCuSfeZ0-b5Q7xfDnOWTvrRuTr8YgS71kunaGzfshwYc-Xx4ep4N3GzOHyCaI-cuvz0j0LEtd0BFox3SFeVOerMsEffrBWFk40xhfTbDhA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n3.woff?Expires=1727560823&Signature=bmWGgZyTbXVoorYuNJ9XX5z5cOEiPfbqKIxhnuGd9ild68hT6Y3U1LHcNDkeztbicrEWfxVUfNNxPWfSy7pSb4J-LhbW-z-v4dekDvyzZSw5bF3RKXXyri8s0CFULCv1xfO2Jo6sztmmIoUmXKuZhKTKH~vdqdBBeahAEd3rqT-kot5FslSbkovfB95GztvXYUxQGdgmQFG5Wu6FBSxisxMSO9nF7rZA49OwbzaR2j-97foNJq28cfnQL~q-9lNfb1xQAQCzdGa4XMRZvsfEJ7hXJIfjg3wb5E0UtybDJvHNw8TyNNVxaexHFoNSLmL-PJSx-g7ui4HWerEmV5wT6w__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 300;
	font-style: italic;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i3.woff2?Expires=1727560823&Signature=gEWOSqIYmL7wLi3fRC1lpYxsiQPjvT7a0ar2yyW71lA5TRLxL1O3wI4mFJHBk5efWrCfn0CZwiU~v1WLlV2boCGL0blg0Dq6gBUbwRwEo~DshwGO3yIQ3pMcj3nKXWGOCbZlXz2bm0I-JRrzq2ogP5c6NocnB9OuAetx5jeKykwlZGOn1Ez4je3az8Nl~YEajSAOWQH0IAMpQRSdVAnSwp40n5Yrw-7KxFsWLABhL9JAULz1qBNPKBy7cExuujnPfniHoL51c8v6CoLkeJGD5Genz7PpJeNY~XZmB7FEpOEXRfaYG~AxuyogxRww3GwytmCiMNQShOQOYBGepltobg__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i3.woff?Expires=1727560823&Signature=ObD3qnNpDA12xq~XogV-dIre9WU-iNW10q09~1QpiB6xXggL7c6t6no74kHxnEuZXW0Do57IMCpqVuF-GHU~eojcN0YLSvMBSBRxawSqoLthrIqQD3wq0bvPRFuq5rLgSU6MXvB~oE1oXWd27EjnzXuGtzpMIWlzQobdUA3qFeOFVBEoWLMRQA1DmYHW2USsCPeiYMV6EBF~gai7FvezvrJXm-Gh4~0YucXGXY0SJVS9gZVHILs8~feYg4xhYWB0Nk3QsP7IGOdq2ZZtcgQvLpT88jefVybyZ-AgcO1ZJNOvtXSg4NSkWDSCqlGVXrlr9TnsLgPMjnSgGtO37BGRKg__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 400;
	font-style: normal;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n4.woff2?Expires=1727560823&Signature=ejv~w6xbDP-5SH6Gd~xpeWIlc7T-NBaVRNh7Uj6DzcCZ6A-EKHgqibdXSLaCaSF7MZ7JR28J32o94v6meytM5yPy5wO86eNzX71fgyz3Z4JhJtKqC5qjkfVOqyRft0HhUUwZ6ZUD-EKH0700TS0w04uLBTQMhDK2u1kd~i09bmF3z~qLU9~QB2FheQnwMvBwL42DsPm0fAYCfoQYYM-YeFEm0nL8aiPwQ8OMAI9S0XsleqA0YJl9xlauPeuRWypbZxUTj2mM0QAK1IADSnF4BC05TdeQnmX1azSufZuG2v9RMGd4rSuPhiomaCey9aFqOn7E~S8GgMyer~Qu~U9dHA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n4.woff?Expires=1727560823&Signature=QMzfj5foNHNh2BBjIaQNqQ0qWtOBVbeSR~9ErrI2gdtq3a~Yixj8WSlw77JzIH2ku~7hdAkqfMfilfxJ4i0ADwrqjhuGGizt3aCAcHIXepdX56YemjDEpDCjgIzh6Z0Kax5vpdfZfrW-HjCbHH2iJXjZtWbX1oUv3Z8WkLiodQfNPFa6YBFhCBTV~RhEHQakJ9RrhCml5dePHJ7~nwArFl8qHzlB79GQGPHuCc1ikspM6W2P9uxNFyy0Mjw99LKEf7CfyOD8ahoZtt5ndGJnsnrXg7kspiZ4q--QJ6Kl39WfmE7AWyUYWQ1d58eb0Xq6fBtVtw5ssF~lgYcO71NRRA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 400;
	font-style: italic;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i4.woff2?Expires=1727560823&Signature=NEvPGHxEMgR03blb6fhVtygh4hXstfJJqwa~zB7dg7kS~kZw2~vydu3GJo6hCSzeBPHCOYdPF~zlkXahi2Ug7RWFd2hv-Gd2TAoeNzywVJpq1Lpb7Hiw0~mUOQ9cCNuKkGOSrt9uBheTjadGnaVwQQOLQ-f9BJqnQmMLWmbU6NUstBx7AVxHeQnKPNxJuZcJ5GXJqX6FNHwD4rr1ksP~Hzp4eqZ7leXa2DT9XJKzgl4KlDpVC0T8A-r0sl9xM2bT8lIQjqOfK~oqEkKtEkpQC5V3Kho87XilwsAXTxSAg7O2yLI3TS0d-krxf8QACLGrENmK7rQsSMufuormkuEkew__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i4.woff?Expires=1727560823&Signature=QQhgpgXVbA9UT8h5SGLGWm66b8rwYStj2dXeY1c5z-~kHzRDVXcDnlwtRJs2wQIHbm8WXAjpoYXhbz8Nyv44eQ8ZX4GH4LSD7fZvFOwgbGNoqRCGYAxszkMs7slROw78Pfe9rBJxbuJ1ELiSDPYSpags6bsco~xETUiQkh-x03dQRNy6cqyohxwCFpaPO8mj7KnKPgwy44IeAQEAiY74EsF5LwAJGa8lwdKMIMRN8g1pBcOtcCgFok81E3h27UOgCTyhd2cP8Yszj0ihmoaFhSq5g5K7NPYKHFLRSQR6e8kaQyIcrE-WxbwNJVPynoVMG7DAYLLE2VOLvsDmADeXdg__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 500;
	font-style: normal;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n5.woff2?Expires=1727560823&Signature=SRs8icdYjgJV3ucX8mYAnUEWDNbpseOmgD4l6XQ7MVkmgrNziLc-1DYR~Uj6B4VpY9R2W434bO8OiNkmcrEIVnbPwrElPrQ6VWj5kTtKqrRL2zObQczxP-njoMSRPKwN0zLKrP10RFP00xL3432aO0Ikuo~CjbebheKaY3ia8BKypRsQx8LXhBhwO8bIIHiFZ1cLfdteuhAd77BxYQonQxmDyvkPXGFtao~SIpF1ZEP6de2mYgNGPL8nxZqG0JHUMYJ8JhBUXFesKPwIeXrk12ZdymeBeR7PoRUuGfzAYq6nQRyosLTOX3ZiSssbHThBnMkdxB3NeBG-tMiIm9nouw__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n5.woff?Expires=1727560823&Signature=Z6CqoBWceWk0DSoP1LvMCAmRAbziTxHgrNmewMF0XjE3-EO2BEdZSq6PNn0glD2QNNJfvIaJfZ2ll08Ksp2CUHoGpPXCyJJ8NYPII5a8y5rIpOjofrPPNMQfs-rNsnYQuBBdRT4NjLEd71oRnFUE0E8LMzt0tsiP3BHQtaQoRhGs2YOl-yla6cs7Gfa682zTzTU6i1j4LO9fZ5VOeqEy6W5IciJV57wNAeA0X8C6Pj0pfHDaVa9VJFCImNIUQkDn5dMUCatDWWsGcZNY~P-6jM7K9qyQFPcBoIOVD~STqBir9yRGIJm9REuHSpFvelqSIQJzTy9XTLV5LAcyHZNzJw__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 500;
	font-style: italic;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i5.woff2?Expires=1727560823&Signature=DZBetMt5OIc5suGAMe6JMm5bIGFg-QhqUfY8pW7Vy3ZKCORM1x4frf4l98E1ZfWKo1JI6ZvgvtqXgoLE5I70H4E4wYKCb~ac96UrFstmlkJ0AlDlHunHmnPGL6WgW2I0FWrLAUQJz4P0pHlgQ5NUQh1QWmG7gyW6Cb1cHH1KCs2crj2ZKP-400aLVulReKbhkvkuuBmg5sUO7pNDEcgB4bBezmITUodXbs4IwqjnypwqAc8LOHrJn~ouLlAIlh26NyJwZaiEFEpvillZLRLU6NJpUMnn1ooQeYG6SoW2oxRd~UAgh3DM50AYauda8wqSQuzlDVpjz75ctriECTi~Lg__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i5.woff?Expires=1727560823&Signature=XmhEvuGoBToWxP7DaEHLB6L9FJ10o-7kyPOWpk12Ii8xws1-3UyLWUxK~ED9F61GgU5XP~2gaR0xR4p8K~Sf7GJL1SXQOQnvXNSrvLJu6dpxIXlRcWpFdv3kwcSSWnQLR3JSIyTL9j~vANywA3PHpV~Uc5pEGnA6s9epwcaS1~cWyx0bbzVEVKfRJdd79qtoMotO5Zxuzec7Ix8k~wr4DiiU44xf7gRsG5fl5xVWAhH0mQd-9PbBgp9-5d7-yDPFCNfVSWf5M0uoKhsu5GeNSjaxlbXdJEVdr~Xpp7Cc86Mh26A4V74qBZtlc-THhNHSRLhnaywCUVp3RHwlApLcCA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 600;
	font-style: normal;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n6.woff2?Expires=1727560823&Signature=YoGBGlSbaz~bJI6w9JqhNYPQq3MX31W2VHenNmtH4OgYWkR~SOX2O24P1FsHXBRk2rdQfYKG~437Gb66Bn0wG3g8-~cQvuotPeZpsZ6XRIrXRBypi6tTTrK8sh7r07eqShCzYdwgeUJL5K6vKJ4FQz~Cx3ay8BnpZNkAt1NtLFOFHKurf7kPneUpT1w0YlA~lJ~OU1amK5xqm-sZoETCTjHbLBiP2iXVzH7HKF64hNzn8oPGs8AK5QvyLmiAB76--bNscRRPy2zYpEH-zWcS1N1gdM1F7gk--LSOmz6IXmZXWVPG73Qhr-0QBkic49j73~kBACVSHsOHEtyrPBQChw__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n6.woff?Expires=1727560823&Signature=WW-IbDh1t5Kl5IiN0C6DSIkVeSqWzvHYceQZwRtAzlMRnG5Okl2ALPBymNFGVTcIDkJftbjCvqKitlKGfKGpdMPodDRhVT9cpaBY7mfiSUNEcrJHREOytGcG7u6ldOFhnKCRjsFwNVrc6UwCix5vpTz~mTGSAHdiZo60DKjAxnzRhitXrahGg1wFLkpkUHjBlOrhQAxqI6xvnpcHXX4VB0fYAv~h9HED~QkxDYblfqyIW8KpU5YjNhg7fifS7hHC9pcfJmfBO8LvaE4nAcjQIwBQZOwDT-5fScbBjb4wfu4zm6fw1NwOUOxz5wnsC6vyw3wsKpukQtpbPvahomBnXw__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 600;
	font-style: italic;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i6.woff2?Expires=1727560823&Signature=j2ydzRtvUGVeaK~XnuK8LZc0XS-ls0Fhbz-jSEID8dN4ouhIh07zEc-pLjXlmdTAmIPoydyiO5MR4t~MR~WnKcEtBlYyFuSbdmWoK~9dSPhc2eG30gbOUA5ncU1lqfTTT6sDoO4xF564t8H4WVJeQ4VVtmdTPYOtPGAdwm0ovgA9y2q0uUzgYQPGFjPR6NxmCkss5dqXM5zVtE~g1-DF4a4Uv9sjaCDYing5pUntgqlh-P0dIgxVBa8kvcxASmq0e1Q47fwZH~W2rbOhAVnVKf1XuGzA~7kBg8TyQo-si3BWchkTCt4KnPgdObE-fak8n08EfN5yaec1UpBbzb40LQ__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i6.woff?Expires=1727560823&Signature=Jz0c9REufxjRpk9i4LGDTOeYNfGEjwX7lKEpgRuRsOo5pfnMi7jyeA50YLRFMEj3CkZvhVzNZ6VKY5KvPgZqiNhfPZ0f-pNq9fbGWhOtR-kJqCCkVUnMwHhHDLqJzMTDX51VuaMc3InqCpvq7B4p78yXPKD9qwLKd0iDjyiIGdG8q27saH9BRV-u9qBXe7DglZqrvT-e-tHv7PpMMLKNIz2f4H59gnIpHvANk0uwL-Ux6voMlqAUoA~2-MlTp0dsSOaHCl32VwaR0QR-5fW-V8kl5Q0KBbTmdKbc2-GGGDZ4fWPCo76FF~DumewKDLAgdPdtKYrN8jJ5hUoyuZA~Ow__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 700;
	font-style: normal;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n7.woff2?Expires=1727560823&Signature=hQAqXVTJpttB~u7lH78RTNfPH~7ovCuPOxH6ag6mcaOCbkCBTEatQ1Aj7cmHqc0HvTitSXUJCAv1AYyssy3Kk~iyJJ7ljP7K0b5JeeO2qAftF6kuvtXEWITif9BsyOSWmiK5D2fXv~YFwKeI16uDnTcUPRp5JxU-sOXtG2WisypQ1WpkZTIb82vBRMaAt8ux677y~oYsyaCLabenAGAfk6i8rnaz7-Lu65kXVZolvHRcqLPSXXHYNCAZX4Mp4KjEKnMqm8P7Sjjo-GpY038p7Kl7dvsUwjN4NyitEjnCqQGvddddl9O5Lr5yNdRBhopweCngCIiPGubmckPVrHv1Pw__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n7.woff?Expires=1727560823&Signature=lTnYXn-eXUhRgkEdA1-1N5~vamqqaEG7eEBgcHdI5BbPFNh1seQbuoNEV3mCro0ywtePwH5JkoZhvVoTJv7vUnC1FcQD7z~q4gMoBB7PfqLRFxp4KGOSWBjWSJsoVsPSwAXHz5vff4rxPFDFbTyqMiP7mu36dr7dDTRY30Yr8xj1sT72p42P9XbPodjpsUBAmEipdrgdHYgG~q~ZQy4Ngg-~~sZPXQMK~2-wRALD3~edlmvmhZk75taXtw-uCZjnDzhEk2DZXmnd2DMO3cQtrVGS5FvpMfjFjCoRIpR~78WELJJ6wINA9GBgrtKaY3MzEkSFnSdE4oj3bDrk3f76KA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 700;
	font-style: italic;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i7.woff2?Expires=1727560823&Signature=RRjLCGNFOgGmHjmSymI2WcqCdYJHjxkCt3OIY8-dDAT5kVGeFd7ykDP5cv1urbH~L5ZrlJ0uqMEYRH8guI4DrY3eVXJGirbPnRgC4NSyvWGcEZkVobbWbDPVV99vumlLSN87s1ctKQjPrBIOK9OKkFNWDzit6DJs~2faGXRMdZpkiKBMx6G~oQWRaw291WM0QYuCE8O49BWBsOBnpwPX7iODTOCIBBhvnv04M7xBjm~OBqWXfbg2p~jSkFIejjTxoQSpCuujaRsZDxXTQ6pyWJ4u7kIDZvx0OfWleylqrt9oKAPkOEn4rMb0F0w199rJgTweL3lzXjKKHJkBdBZ6sA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i7.woff?Expires=1727560823&Signature=g8zVA7rbZ2qR94wLPHpOrj6ynoYx~LB8qfxC9VBoh~H2OySXoAYRQuLEB5fevAXd6l6caT7QSIzKfSROjRv~ICta3oojMf-MndId8ClpGL7enaGpqykilh55V8DxM3xOzUik1Nn16M2t7-LxMYn8ZyOR9D6ImZMaZnMQaSZNj2i-xPWODi9rukBn4NKyFtSfkh5AwkJGiC95WldBbvVNMg77S7XgAmKXkN5KtSfFKFlXn4jU2RdDSi3Vh3nCd5alw5r4D0pKi2IxfSdWk6tMzK6e2-23TXhKXfR1DVIq7Mr7P4mjantrGd3GoIv4fRuA1S9ShzJZ4raeGUCjxYYwUg__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 900;
	font-style: normal;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n9.woff2?Expires=1727560823&Signature=i4dVLFeqGRxIzUhyAmIozzmRLLmtFn16dBDKHlLri~5C5NW9QQTcQKQaH8UbZhBHo2D1afYkjPlf~jOO5h5iNWsgZrQ1YLHg6BsKeQto1CkpZ9hyH7JcaEZ4F9DaXvAZ14O1BIdHpDa9bGPehMFXQl87iyNzjgZ7nQN9-QMvnLia7TWB2eR2xKdlsZ9kto-Gq1fuXEQDIFFwtSf7oa32gxmRzZER2akOquJ4CMCSRXFCvZOMikROiZXj9VID8PGgxXRxezKLCHcYG5C1xhvT2SMAMQvYs4wuBx4AR7dVaJwKxr78IhrZodxQ2PFF0q-cVnTc6GGB99WznBPSo3GSlg__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/n9.woff?Expires=1727560823&Signature=WbxfbPSjGKn0usg9BI0zU920aJMA0nETUaBqZkbr-hFZeL9d-~VZuIr3YwIUllv2FeUAV75~Kwjinh5n~lchb9DJ58~alhpfe1TzhFvc5-vU0JlimK4zlPq1SZBDSClAG~AVgSw9XmpNBTlA37Sx3v3Oj-iTPukeV5Ri3-kXPuoohLwsuOv02IMxCDuGQCrNhjK5UtKpnTx6VtWQKsModtnXdIIejNDwSDPxGcsxnOTJGjvJsza~PeIb37f0GKWrZHhpvqEZlP7us6VnJZ8ul5vimGOu41dXh9bKOkLAmX1wEhVOFL4dKwnBN8DQzGfhr6~w6d~iazMXtSicq6KmfA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: 900;
	font-style: italic;
	src: url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i9.woff2?Expires=1727560823&Signature=NsPgN0TsQpGYuHuvS2Wk5mmm4udgCX8NL3KghjzW2vZLCX-2iuk8QJ9jEDq-NJm9jP-b-hqFffNF6OYJtOTergHmHDwRyfd8to-OPbfMj~k3zpqMYU9aORkddLELswobG0UBSlhaV51fGqmc-r7hhVsWMPT6DeTPbt6CuyofDhrLEz~DMin~IT5O~XLn9nynuEZykOHgO9MVyFBwN-u6BXb4CAq4JN8g4Xs4aKQEOqCcz~Pn4hgIbdYo-X7u4tTVlAmkM8La2Zdt8DUAcI4LJFT9g3ttWgZS0wV~rJohlEyf0TK1C~zG0rwNiSbKd~-h8cHkENsQ8qDzLN9kDom2zA__&Key-Pair-Id=K3RI8219ESW2NK) format("woff2"), url(https://fonts-pw.pixieset.com/fonts/brandongrotesque/i9.woff?Expires=1727560823&Signature=aGMlQgzjmT1Yb7IoDwhhiQWxwjpxlxrKF3csVsjfHlM3C7wB8zcdk9AxskC-62sUIdFhSCbbURjLRN0UtWBpx-4SbtTv6xlsZuLn14fR7PhyOSF5MIv4BgWiBq5FzUaMDWFCmupSQa29zQkGe3SoSkUa023unHDsZwv2B6CmKQuC9kNn1SRFJdYC-~mh780Iz84QTfYogvzOdXTpIIs073XPaQjZeulCzVQbD5sS0RMpwxximguk0xV33BOi1mdJ6THSyJVmU5Kf50hrOeQg2txcS6s3mY-qD5jJZLyXSrtpXtZtqJHfBY6uOURYLWw7ggGQflSr2q2nUye0g643Vg__&Key-Pair-Id=K3RI8219ESW2NK) format("woff");
}
@font-face {
	font-family: "Crimson Text";
	font-weight: 400;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/crimsontext/n4.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/crimsontext/n4.woff) format("woff");
}
@font-face {
	font-family: "Crimson Text";
	font-weight: 400;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/crimsontext/i4.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/crimsontext/i4.woff) format("woff");
}
@font-face {
	font-family: "Crimson Text";
	font-weight: 600;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/crimsontext/n6.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/crimsontext/n6.woff) format("woff");
}
@font-face {
	font-family: "Crimson Text";
	font-weight: 600;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/crimsontext/i6.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/crimsontext/i6.woff) format("woff");
}
@font-face {
	font-family: "Crimson Text";
	font-weight: 700;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/crimsontext/n7.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/crimsontext/n7.woff) format("woff");
}
@font-face {
	font-family: "Crimson Text";
	font-weight: 700;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/crimsontext/i7.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/crimsontext/i7.woff) format("woff");
}
.transparent-nav {
    /* position: fixed; */
    position: -webkit-sticky;
    position: sticky;
    /* top: 0; */
    background-color: rgb(28, 61, 36);
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .transparent-nav ul {
    list-style: none;
    display: flex;
  }
  .transparent-nav li {
    margin-right: 20px;
  }
  
  .transparent-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.transparent-nav a:hover {
  color: #666262;
}
.one {
    position: relative;
    background-image: url(./31.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    animation: change 30s infinite;
    
  } 

 @keyframes change{
    0%{
      background-image: url(./31.jpg) ;
      
    }
    20%{
      background-image: url(./28.jpg);
    
    }
    40%{
      background-image: url(./23.jpg);
    }
    60%{
      background-image: url(./22.jpg);
    }
    80%{
      background-image: url(./31.jpg) ;
    
    }
    100%{
      background-image: url(./NINE.webp);
    }
 } 
 
 .title{
    color:whitesmoke;
    padding-top: 150px;
    margin-left: 45px;
    font-family:"crimson text" ;
    font-style: italic;
    /* font-size: 40px; */
    line-height: 30%;
    
 }
 .ff{
  font-size: 50px;
 }
 .btn1{
  /* margin-left:45px; */
  /* margin-top: 150px; */
  border: 2px solid whitesmoke;
  background-color: transparent;
  color: white;
  padding:10px;
  width: 250px;
 }
 .line{
  border:2px solid white;
  opacity:0.9;
  margin: 20px;
  margin-top:30px;
 }
 .seperate{
  display: flex;
  justify-content: space-between;
  margin-left:45px; 
  margin-top: 150px; 
 }
 .sub{
  color: whitesmoke;
  padding-right:25px ;
  opacity: 0.8;
 }
 .two{
  margin-top: 120px;
 }
 .heading{
  font-family: "Brandon Grotesque";
	font-weight: 400;
	font-style: normal;
  color: black;
  opacity:0.8;
 }
 .subhead{
  /* float: right; */
	font-family: "Crimson Text";
	font-weight: 300;
	font-style: italic;
  font-size: 50px;
  color: #472C26;
  opacity:0.7;
  
 }
 .girl{
  display:flex;
  justify-content: space-between;
 }
 .image{
  margin-top: 50px;
 }
 .subdiv{
  display:flex;
 }
 .para{
  margin-top:150px;
  padding-left:100px;
  font-family: "Brandon Grotesque";
	font-weight: 400;
  line-height: 30px;
	font-style: normal;
  color: #3D3837;
 }
 .button{
   float:right;
   height:50px;
   width:260px;
   margin-top: 550px;
   background-color: transparent;
   border: 1px solid burlywood;
   color:grey;
 }
 .three{
  background-image: url(./37.jpg);
  height: 120vh;
  width:100%;
  margin-top:100px;
 }
 .aa{
  padding-top: 60px;
  margin-left: 30px;
 }
 .aa a{
  text-decoration: none;
  color: whitesmoke;
  opacity: 0.7;
  line-height: 20px;
  
 }
 .dd{
  padding-top: 350px;
  padding-left: 200px;
 }
 .cc{
  color: azure;
  font-family: "Crimson Text";
	font-weight: 700;
	font-style: italic;
  font-size: 50px;
 }
 .image1{
  margin-top: 90px;
 }
 .four{
  display: flex;
 }
 .content{
  margin-top: 90px;
 }
 .headingtwo{
  float:right;
  margin-bottom: 20px;
  font-family: "Brandon Grotesque";
	font-weight: 400;
	font-style: normal;
  color: black;
  opacity:0.8;
 }

 .para2{
  margin-top: 200px;
  margin-left:90px;
  font-family: "Brandon Grotesque";
	font-weight: 400;
  line-height: 30px;
	font-style: normal;
  color: #3D3837;
 }
 .subhead2{
  float: left;
  margin-left: 50px;
  font-family: "Crimson Text";
	font-weight: 300;
	font-style: italic;
  font-size: 50px;
  color: #472C26;
  opacity:0.7;
 }
 .button1{
    height:50px;
    width:200px;
    margin-top:150px;
    margin-left:90px;
    background-color: transparent;
    border: 1px solid burlywood;
   color:grey
 }
 .inner{
  margin-top: 10%;
 }
 .headingthree{
  margin-left:40px ;
  font-family: "Brandon Grotesque";
	font-weight: 400;
	font-style: normal;
  color: black;
  opacity:0.8;
 }
 .five{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
 }
 .name{
  padding-top: 120px;
  font-family: "Crimson Text";
	font-weight: 700;
	font-style: italic;
  color: #3f4429;
  font-size:30px;
  opacity: 0.9;
 }
 .review{
  padding-top:80px;
  font-family: "Brandon Grotesque";
	font-weight: 400;
  line-height: 30px;
	font-style: normal;
  color: #3D3837;
 }
 .six{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
 }
 .name1{
  padding-top: 120px;
  font-family: "Crimson Text";
	font-weight: 700;
	font-style: italic;
  color: #3f4429;
  font-size:30px;
  opacity: 0.9;
 }
 .review1{
  padding-top:20px;
  font-family: "Brandon Grotesque";
	font-weight: 400;
  line-height: 30px;
	font-style: normal;
  color: #3D3837;
 }
 .seven{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
 }
 .name2{
  padding-top: 120px;
  font-family: "Crimson Text";
	font-weight: 700;
	font-style: italic;
  color: #3f4429;
  font-size:30px;
  opacity: 0.9;
 }
 .review2{
  padding-top:80px;
  font-family: "Brandon Grotesque";
	font-weight: 400;
  line-height: 30px;
	font-style: normal;
  color: #3D3837;
 }
 .eight{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
 }
 .name3{
  padding-top: 120px;
  font-family: "Crimson Text";
	font-weight: 700;
	font-style: italic;
  color: #3f4429;
  font-size:30px;
  opacity: 0.9;
 }
 .review3{
  padding-top:80px;
  font-family: "Brandon Grotesque";
	font-weight: 400;
  line-height: 30px;
	font-style: normal;
  color: #3D3837;
 }
 .nine{
  background-image: url(./26.jpg);
  background-repeat: no-repeat;
  width:100%;
  height: 800px;
  margin-left: 50px;
  margin-top: 50px;
  padding-top: 80px;
 }
 .headingfour{
  float:right;
  padding-right: 100px;
  color: white;
  font-family: "Crimson Text";
	font-weight: 600;
	font-style: italic;
 }
 .side{
  margin-top: 500px;
  color: rgba(255, 255, 255, 0.756);
  margin-left: 750px;
 }
 .btn3{
  background-color: transparent;
  border: 1px solid whitesmoke ;
  color: whitesmoke;
  width: 200px;
  height:40px;
 }
 .headingfive{
  text-align: center;
  color: #293105;
  font-family: "Crimson Text";
	font-weight: 400;
	font-style: italic;
 }
 .address{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
 }
 .p1{
  font-family: "Brandon Grotesque";
	font-weight: 300;
	font-style: normal;
  color: #293105;
 }
 .p2{
  font-family: "Brandon Grotesque";
	font-weight: 300;
	font-style: normal;
  color: #293105;
 }
 .p3{
  font-family: "Brandon Grotesque";
	font-weight: 300;
	font-style: normal;
  color: #293105;
 }
.h1{
  font-family: "Crimson Text";
	font-weight: 600;
	font-style: italic;
  color: #293105;
}
.h2{
  font-family: "Crimson Text";
	font-weight: 600;
	font-style: italic;
  color: #293105;
}
.h3{
  font-family: "Crimson Text";
	font-weight: 600;
	font-style: italic;
  color: #293105;
}
.line2{
  border:1px solid gray;
  width:480px;
}
.insta{
  display:flex;
  justify-content: space-around;
  margin-top: 80px;
}
.headingsix{
  color: #3D3837;
  font-family: "Brandon Grotesque";
	font-weight: 400;
	font-style: normal;
  font-size: small;
}
.link{
  color: #3D3837;
  text-decoration: none;
  font-family: "Brandon Grotesque";
	font-weight: 400;
	font-style: normal;
  font-size: small;
  
}
.cardimg{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.twelve{
  text-align: center;
  margin-top: 80px;
  line-height: 40px;
}
.input{
  display: flex;
  flex-direction: row;
  gap:10px;
  margin-left: 370px;
}
.btn5{
  border: 1px solid #310D0D;
  background-color: #310D0D;
  width: 90px;
  height: 40px;
  color: aliceblue;
}
.h4{
  color: rgb(72, 90, 40);
  font-size: 30px;
  
}
.thirteen{
  margin-top: 30px;
}
.link2{
  text-decoration: none;
  padding-top: 30px;
  color:#3f4429; 
}
.cardimg1{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footerhead ul{
   
    list-style: none;
    display: flex;
  }
  .footerhead li {
    margin-right: 20px;
  }
  
  .footerhead a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footerhead a:hover {
  color: #666262;
}
.foot{
  margin:30px;
  display: flex;
  justify-content: space-between;
}
.logo{
  
  display: flex;
  padding-right: 280px;
}
.column{
  padding: 10px;
}
.line3{
  border:1px solid beige;
}
.pl{
  margin-top: 18px;
  color: #666262;
  font-family:"crimson text" ;
    font-style: italic;
    font-size:15px ;
}
.arrow{
  margin-top: 18px;
  color: #666262;
}
.whatsapp{
  float:right;
  position: -webkit-sticky;
}